{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "trailingComma": "es5",
  "useTabs": false,
  "indentStyle": "space"
}
